@import "tailwindcss";

@theme {
  --font-lato: var(--lato);

  --color-black: var(--black);
  --color-white: var(--white);
  --color-dark: var(--dark);
  --color-primary: var(--primary);
  --color-blue-light: var(--blue-light);
  --color-gray-light: var(--gray-light);
  --color-gray: var(--gray);
  --color-gray-lighter: var(--gray-lighter);
  --color-blue-dark: var(--blue-dark);
}
@layer utilities {
  :root {
    --lato: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    --black: #000000;
    --white: #ffffff;
    --dark: #2a2a2a;
    --primary: #38a1f7;
    --blue-light: #e1f1fe;
    --gray-light: #d3d3d3;
    --gray: #7e7e7e;
    --gray-lighter: #f6f7f9;
    --blue-dark: #00589f;
  }
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}
